<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="../styles/landingPage.css">
</head>

<body>
    <header>
        <div class="container">
            <img src="../resources/Logo.jpeg" alt="EVA Mart Logo"/>
            <div class="tabs">
                <a href="./login.html" class="tab">Home</a>
                <a href="#" class="tab">Our Mission</a>
                <div class="login-cart">
                    <a href="./login.html" class="tab">Login</a>
                    </div>
            </div>
            
                <a href="./checkout.html" class="shopping-cart">
                    <img src="../resources/shopping-cart.svg" alt="shopping cart"/>
                </a>
            
        </div>

    </header>
    
   
    <div class="banner">
    <script>
        const banner = document.querySelector('.banner');
        const images= [
            '../resources/slide2.png',
            '../resources/slide3.png',
            '../resources/slide4.png',
            '../resources/slide1.png'

        ]

        let index =0;

        function changeImage(){
            banner.style.background = `url('${images[index]}') center/auto 100% no-repeat`;
            index = (index + 1) % images.length;

        }

        setInterval(changeImage, 6000);

    </script>
    </div></div>
    
   
</body>
<div class="items">
    <h1> &nbsp;&nbsp;&nbsp;Essentials </h1>
    <hr>
        <br> 
        <img class="milk-image" src="../resources/item-milk.jpeg" alt="bread"/>
        <img class="bread-image" src="../resources/item-bread.jpeg" alt="bread"/>
        <img class="eggs-image" src="../resources/item-eggs.jpeg" alt="eggs"/>

    

        <div class="milk-info">
            <p style="font-size: 24px; color:rgb(0, 0, 0);"><b>$4.19 </b>($0.03/fluid ounce)</p>
            <p style="font-size: 24px; color:rgb(0, 0, 0);"><b> 2% Reduced Fat Milk - 1 gal</b></p>
            <p style="font-size: 15px; margin-top: -30px;"></p><button class="add-to-cart" ><b>Add to Cart</b></button></p>    
        </div>

        <div class="bread-info">
            <p style="font-size: 24px; color:rgb(0, 0, 0);"><s>$4.49 </s>&nbsp;&nbsp;&nbsp;<b style="font-size: 30px; color:rgb(0, 0, 0); outline: 5px solid rgb(242, 10, 130);">$3.29 </b></p>
            <p style="font-size: 24px; color:rgb(0, 0, 0);"><b> White Bread - 20oz</b></p>
            <p style="font-size: 15px; margin-top: -30px;"></p><button class="add-to-cart" ><b>Add to Cart</b></button>&nbsp;&nbsp;&nbsp;<button class="offer-button"><b>Offer Available!</b></button></p>    
        </div>

        <div class="eggs-info">
            <p style="font-size: 24px; color:rgb(0, 0, 0);margin-top: 30px;"><b>$6.99 </b>($0.58/count)</p>
            <p style="font-size: 22px; color:rgb(0, 0, 0); margin-top: 20px;"><b>Organic Free Range Eggs - 12ct </b></p>
            <p style="font-size: 15px; margin-top: -20px;"></p><button class="add-to-cart" ><b>Add to Cart</b></button></p>    
        </div>

        

 
 
    </div>
</html>
