<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="../styles/Profilepage.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    
</head>

<body>
    <header>
        <a class="part home" href="./index.html">
            <div class="button">
                <h6>Go back</h6>
                <h1>Home</h1>
            </div>
        </a>
        <div class="title">
            <h1>EVAmart</h1>
        </div>
        <div>
            <a class="part signout" href="./index.html">
                <div class="button right">
                    <h1>Sign Out</h1>
                </div>
            </a>
        </div>
    </header>
    <main>
        <h1>Your account</h1>
        <nav>
            <div class="row 1">
                <a class="order link"  href="">
                    <div class="box">
                        <h2 class="text">Your Orders</h2>
                        <h3 class="text">Track, return, cancel, order and more</h3>
                    </div>
                </a>
                <a class="account link"  href="">
                    <div class="box">
                        <h2 class="text">Account Info</h2>
                        <h3 class="text">Edit, username, password, and phone number</h3>
                    </div>
                </a>
                <a class="order link"  href="">
                    <div class="box">
                        <h2 class="text">Payments</h2>
                        <h3 class="text">View all transactions, add and remove payment methods</h3>
                    </div>
                </a>
            </div>
            <div class="row 2">
                <a class="order link"  href="">
                    <div class="box">
                        <h2 class="text">Your Addresses</h2>
                        <h3 class="text">Edit, remove or set default addresses</h3>
                    </div>
                </a>
                <a class="account link"  href="">
                    <div class="box">
                        <h2 class="text">Favorites</h2>
                        <h3 class="text">View and add your favorited items</h3>
                    </div>
                </a>
                <a class="order link"  href="">
                    <div class="box">
                        <h2 class="text">Customer Support</h2>
                        <h3 class="text">Browse self-service options, troubleshooting articles or get in touch with a representative.</h3>
                    </div>
                </a>
            </div>
        </nav>
    </main>
    <footer> 
        <div class="link-space">
            <h2>Get to Know Us</h2>
            <a class="botlink" href="">
                <h5>TERMS AND CONDITIONS</h5>
            </a>
            <a class="botlink" href="">
                <h5>PRIVACY</h5>
            </a>            
            <a class="botlink" href="">
                <h5>OUR SUPPLIERS</h5>
            </a>
            <a class="botlink" href="">
                <h5>CAREERS</h5>
            </a>
        </div>   
        <div class="link-space 2">
            <h2>Let Us Help</h2>
            <a class="botlink" href="">
                <h5>Your Account</h5>
            </a>
            <a class="botlink" href="">
                <h5>Returns</h5>
            </a>            
            <a class="botlink" href="">
                <h5>Shipping Rates & Policies</h5>
            </a>
            <a class="botlink" href="">
                <h5>Help</h5>
            </a> 
        </div>

    </footer>
</body>
</html>