* {
    margin:0;
    padding:0;


}

.text {
    color: rgb(48, 36, 0);
}

main {
    margin-top:100px;
    display: flex;
    flex-direction: column;
    align-items: center; 

    font-family: "Roboto", sans-serif;
    font-style: normal;
}

body{
    background-color: rgb(238, 251, 247);
}

header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 10px;
    position: fixed;
    top:0;
    left:0;

    background: rgb(92, 155, 50);
    color:rgb(17, 128, 124);
    width:100%;

}

footer {
    display: flex;
    justify-content: left;
    position: absolute;
    padding:10px;
    padding-left: 200px;
    box-sizing: border-box;
    background: rgb(48, 68, 35);

    width:100%;
    left: 0;
    bottom: 0;
}

.title {
    
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-style: normal;

    color: rgb(255, 255, 255);
}

.part {
    text-decoration: none;
}


.right > h1{
    font-weight: 400;
    font-size: 15px;
    
}
.button {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline !important;
 
    border: 4px solid;
    border-radius: 10px;
    width: 150px;

    color:rgb(244, 242, 210);

    font-family: "Roboto", sans-serif;
    font-style: normal;

}


.button:hover {
    background: rgb(116, 116, 116);
    transition-duration: 500ms;
}

.button > h6 {
    font-weight: 500    ;
    font-size: 13px;
}

.button >h1 {
    font-weight: 800;
}


.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
   

    box-sizing: border-box;
    width: 350px;
    height: 150px;

    border: 2px solid;
    border-color: rgb(16, 148, 12);
    border-radius: 20px;

    background-color: rgb(144, 223, 79);
}

.box:hover {
    background-color: rgb(25, 175, 143);
    transition: 0.3s ease-out;
}

.box > h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
}

.link {
    text-decoration: none;
    margin:20px;

}

.row {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.link-space{
    padding-right: 70px;
    display: flex;
    flex-direction: column;
}

.botlink {
    text-decoration: none;
    margin: 5px;
    color:white;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 14px !important;

}

.link-space > h2{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight:700;
    font-size: 20px;
}

